body {
    align-items: center;
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    body {
        align-items: start;
    }
}
